<div class="shop-card">
  <div class="shop-card__logo">
    <img height="100%" width="100%" src="/assets/Kiosk.png" alt="" />
  </div>
  <div class="shop-card__description">
    <secondary-title class="shop-name" [title]="shop.name" [text]="shop.name"></secondary-title>
    <span class="shop-card__description__details">Open now! 06:00-18:00</span>
    <span class="shop-card__description__distance"
      >Distance: {{ shop.distance }}m</span
    >
  </div>
  <div class="shop-card__icon">
    <img src="/assets/icons/arrow_right.svg" alt="" />
  </div>
</div>
